

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**globales**/

body {
	background-color: #374453;
}
.navegacion {
	background-color: #FF6755;
	padding-bottom: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    padding-left: 60px;

}
.contenido {
	background-color: #CECECE;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
div.secciones-noticia {
    padding: 5px;
    margin-bottom: -13px;
}
.secciones-noticia {
    display: none;
}
blockquote {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

div.card-info {
    padding: 0;
    background-color: transparent;
}
div.card-info img {
    float: left;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

 div.card-info p {
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 60px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}
div.card-info-detail {
    margin: -7px 17px 10px 17px;
}
div.menu-movil {
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}
div.menu-movil span {
    height: 10px;
    margin-bottom: 6px;
    background-color: #ffffff;
    display: block;
    border-radius: 10px;
    width: 60px;
    margin-top: 13px;

}
article {
    margin-top: 30px;
}
h4 {
    color: #fe4918;
}
h2 {
    color: #00b8e4;
    margin-bottom: 30px;
    

}
article img {
    float: left;
    width: 300px;
    margin-right: 30px;
}
article p {
    line-height: 2;
    
}



















